textarea {
    width: 80%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.hidden {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 1em;
}